# [기초 통계]

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

data = load_iris()
df = pd.DataFrame(data['data'], columns=['sepal_length', 'sepal_width',
                                        'petal_length', 'petal_width'])
df['target'] = data['target']

## 1. 통계량 구하기, 계산 하기

- mean()
- min()
- max()
- var()
- std()
- sem() # 평균의 표준편차
- describe()
- median
- quantile(q=0.xx) # 백분위수

In [7]:
df.describe()
#nunique

       sepal_length  sepal_width  petal_length  petal_width      target
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000